<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ PAGE.TITLE }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<style type="text/css"></style></head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{ PAGE.TITLE }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse navbar-ex1-collapse collapse in" aria-expanded="true">
                <!--<ul class="nav navbar-nav">
                    <li class="hidden active">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>-->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
        <div class="row">
          <h3 id="task_title">Новая задача</h3>
            <form>
             <div class="col-xs-8">
                 <div class="form-group col-xs-12">
                  <label class="control-label " for="name">
                   Район
                  </label>
                  <input class="form-control" id="district" name="name" type="text" value="Элеватор">
                 </div>
                 <div class="form-group  col-xs-12">
                  <label class="control-label " for="textarea">
                   Описание
                  </label>
                  <textarea class="form-control" cols="40" id="description" name="textarea" rows="10">Починить фильтр для воды</textarea>
                 </div>
                 <div class="form-group  col-xs-12">
                  <label class="control-label " for="textarea">
                    Адрес
                  </label>
                  <textarea class="form-control" cols="40" id="address" name="textarea" rows="5">Чертенкова 6, 1 подъезд, кв 134</textarea>
                 </div>
             </div>
             <div class="form-group  col-xs-4">
              <label class="control-label " for="number">
               Цена
              </label>
              <input class="form-control" value="500" id="price" name="number" type="number">
             </div>
             <div class="form-group  col-xs-4">
              <label class="control-label " for="date">
               Дата
              </label>
              <input class="form-control" id="date" value="2016-02-12" name="date" placeholder="" type="date">
             </div>
             <!--<div class="form-group  col-xs-4">
              <label class="control-label " for="name2">
               Исполнитель
              </label>
              <input class="form-control" value="Миха" id="coworker" name="name2" type="text">
             </div>-->
             <div class="form-group  col-xs-4">
              <label class="control-label " for="name3">
               Клиент
              </label>
              <select class="form-control" id="client" name="name3">
                <option value="test">test</option>
              </select>
             </div>
             <div class="form-group">
               <input type="hidden" id="_id" value="new">
             </div>
             <div class="form-group  col-xs-4">
              <div>
               <a class="btn btn-primary col-xs-4" id="add_task" onclick="return false;">
                Добавить
               </a>
               <a class="btn btn-primary col-xs-4" id="save_update_task" onclick="return false;" style="display: none;">
                Сохранить
               </a>
               <input class="btn btn-info col-xs-4" type="reset" id="clear_form_task" onclick="clearTaskForm(); return false;" value="Очистить">
                

              </div>
             </div>
            </form>
        </div>
            <div class="row">
                <div class="col-lg-12">
                    
                    <h1>Список задач</h1>
                    <table class="table table-striped table-bordered table-hover">
                        <tbody class="main_table">
                            <th>Район</th>
                            <th>Описание[адрес]</th>
                            <th>Статус</th>
                            <th>Цена</th>
                            <th>Дата</th>
                            <th>ID клиента</th>
                            <th>ID исполнителя</th>
                            <th>Редкатировать/Удалить</th>
                          </tr>
                          {% for row in table %}
                            <tr>
                                <td>{{row.district}}</td>
                                <td>{{row.description}}<br>Адрес:<br>{{ row.address }}</td>
                                <td>{{row.status}}</td>
                                <td>{{row.price}}</td>
                                <td>{{row.date}}</td>
                                <td class="client_id">{{row.client}}</td>
                                <td>{{row.coworker}}</td>
                                <td>
                                  <div class="row">
                                    <div class="col-xs-12">
                                      <a onClick="deleteTask(this); return false;" id="del" row={{row._id|json_encode}} class="btn btn-danger" style="width: 100%;">удалить</a>
                                    </div>
                                    <div class="col-xs-12">
                                      <a  style="width: 100%;" onClick="updateTaskForm(this, '{{row.district}}','{{row.description}}','{{row.price}}','{{row.date}}','{{row.client}}', '{{ row.address }}'); return false;" id="update" row={{row._id|json_encode}}  class="btn btn-warning">редактировать</a>
                                    </div>
                                  </div>
                                </td>
                            </tr>
                          {% endfor %}
                    </tbody></table>
                </div>
            </div>
        </div>
    </section>

    
    

    
    

    
    

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script src="js/custom.js"></script>
    <script>
        var clientsArray = null;
        $(document).ready(function(){
          clientsLoad();
        });
        function clientsLoad(){
          getUrlMethod(
            '{{ PUBLIC.URL }}', 
            '{{ PUBLIC.user_events.clients }}', 
            '{{ api_key }}', 
            [{}], 
            function(err, res){
              if(err){
                alert(err);
                console.log(err);
              }else{
                $.ajax(res).done(function(data){
                  if(typeof data == "object" && data.error != null){
                    alert("Произошла ошибка.");
                  }else{
                    //var clients = JSON.parse(data);
                    $("#client").html("");
                    clientsArray = data;
                    data.forEach(function(item, i){
                      $(".client_id").each(function(i){
                        if(item._id == $(this).html()){
                          $(this).html(item.first_name)
                        }
                      });
                      $("#client").append("<option value=\"" + item._id + "\">" + item.first_name + "</option>");  
                    });
                                    
                  }
                });
              }
            }
          );
        }
        $("#add_task").on("click", function(){
            if($("#district").val() == ""
                || $("#description").val() == ""
                || $("#price").val() == ""
                || $("#date").val() == ""
                || $("#client").val() == ""
            ){
                alert("Заполните все поля.");                
            }else{                
                getUrlMethod(
                  '{{ PUBLIC.URL }}',
                  '{{ PUBLIC.task_events.add }}',
                  '{{ api_key }}',
                  [
                    {key: "district", value: $("#district").val()},
                    {key: "description", value: $("#description").val()},
                    {key: "price", value: $("#price").val()},
                    {key: "date", value: $("#date").val()},
                    {key: "client", value: $("#client").val()},
                    {key: "address", value: $("#address").val()}
                  ],
                  function(err, res){
                    if(err){
                      alert(err)
                    }else{
                      $.ajax(res).done(function(data){
                        clearTaskForm();
                        updateTable();
                      });
                    }
                  }
                );
            }
        });
        $("#save_update_task").on("click", function(){
          if(($("#district").val() != "") 
                && $("#description").val() != ""
                && $("#price").val() != ""
                && $("#date").val() != ""
                && $("#client").val() != ""
                && $("#_id").val() != ""
            ){
                getUrlMethod(
                  '{{ PUBLIC.URL }}',
                  '{{ PUBLIC.task_events.update }}',
                  '{{ api_key }}',
                  [
                    {key: "id", value: $("#_id").val()},
                    {key: "district", value: $("#district").val()},
                    {key: "description", value: $("#description").val()},
                    {key: "address", value: $("#address").val()},
                    {key: "price", value: $("#price").val()},
                    {key: "date", value: $("#date").val()},
                    {key: "client", value: $("#client").val()},
                  ],
                  function(err, res){
                    if(err){
                      alert(err)
                    }else{
                      //prompt('URL:', res);
                      $.ajax(res).done(function(data){
                        clearTaskForm();
                        updateTable();
                      });
                    }
                  }
                );
            }else{
                alert("Заполните все поля.");
            }
        });
      function updateTable(){
        getUrlMethod(
          '{{ PUBLIC.URL }}',
          '{{ PUBLIC.admin.index }}',//task/remove
          '{{ api_key }}',
          [{}],
          function(err, res){
            if(err){
              alert(err)
            }else{
              $.ajax(res).done(function(data){
                $("table").html( $("table", data).html());
                clientsLoad();
              });
            }
          }
        );
      }
      function updateTaskForm(el, district, description, price, date, client, address){
          if($(el).attr("row") == ""){
            alert("ID задачи не задан.");
          }else{
            $("#district").val(district);
            $("#description").val(description);
            $("#address").val(address);
            $("#price").val(price);
            $("#date").val(date);
            $("#client").val(client);
            $("#_id").val($(el).attr("row").replace(/\"/g, ""));
            $("#task_title").html("Задача: " + $(el).attr("row").replace(/\"/g, ""));
            $("#save_update_task").css("display", "block");
            $("#add_task").css("display", "none");
          }
      }
      function clearTaskForm(){
            $("#save_update_task").css("display", "none");
            $("#add_task").css("display", "block");
            $("#district").val(" ");
            $("#description").val(" ");
            $("#address").val(" ");
            $("#price").val(" ");
            $("#date").val(" ");
            $("#client").val(" ");
            $("#_id").val(" ");
            $("#task_title").html("Новая задача");
      }
      function deleteTask(el){
        if(confirm("Вы уверены что хотите удалить запись?")){
          getUrlMethod(
            '{{ PUBLIC.URL }}',
            '{{ PUBLIC.task_events.remove }}',
            '{{ api_key }}',
            [{key: "id", value: $(el).attr("row").replace(/\"/g,"")}],
            function(err, res){
              if(err){
                alert(err)
              }else{
                $.ajax(res).done(function(data){
                  updateTable();
                });
              }
            }
          );
        }
      }
      var getUrlMethod = function(mainUrl, method, key, params, callback){//params = [{key: '', value=''},...]
        if(!Array.isArray(params)){
          callback("Ошибка", null);
        }else{
          var url = mainUrl + method + "/?access_token=" + key;
          params.forEach(function(item, i){
            if(params.length - 1 == i){
              url += "&" + item.key + "=" + item.value;
              return callback(null, url);
            }else{
              url += "&" + item.key + "=" + item.value;
            }
          });
        }
      };
    </script>




</body></html>