<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ PAGE.TITLE }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<style type="text/css"></style></head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{ PAGE.TITLE }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse navbar-ex1-collapse collapse in" aria-expanded="true">
                <!--<ul class="nav navbar-nav">
                    <li class="hidden active">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>-->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
        <div class="row">
          <h3 id="user_title">Добавить нового пользователя</h3>
            <form>
             <div class="col-xs-8">
                 <div class="form-group col-xs-12">
                  <label class="control-label " for="first_name">
                   ФИО
                  </label>
                  <input class="form-control" id="first_name" name="first_name" type="text" value="Петров Генадий">
                 </div>
                 <div class="form-group  col-xs-12">
                  <label class="control-label " for="notes">
                   Заметка
                  </label>
                  <textarea class="form-control" cols="40" id="notes" name="notes" rows="10">Хороший человек</textarea>
                 </div>
             </div>
             <div class="form-group  col-xs-4">
              <label class="control-label " for="phone_number">
               Номер телефона
              </label>
              <input class="form-control" value="+79241234567" id="phone_number" name="phone_number" type="tel">
              <div class="form-group">
                <div class="col-xs-10">
                  <label class="control-label " for="update_phone">
                    Запомнить номер телефона?
                  </label>
                </div>
                  <input type="checkbox" id="update_phone" status="false" name="update_phone">
              </div>
             </div>
             <div class="form-group  col-xs-4">
              <label class="control-label " for="nickname">
               Никнейм
              </label>
              <input class="form-control" id="nickname" value="test_nickname" name="nickname" placeholder="" type="text">
             </div>
             <div class="form-group  col-xs-4">
              <label class="control-label " for="password">
               Пароль
              </label>
              <input class="form-control" value="password" id="password" name="password" type="text">
             </div>
             <div class="form-group  col-xs-4">
              <label class="control-label " for="group">
               Группа
              </label>
              <select name="group" id="group" class="form-control">
                <option value="1">Модератор</option>
                <option value="2">Исполнитель</option>
                <option value="3">Клиент</option>
              </select>
             </div>
             <div class="form-group">
               <input type="hidden" id="_id" value="">
             </div>
             <div class="form-group  col-xs-4">
              <div>
               <a class="btn btn-primary col-xs-4" id="add_user" onclick="return false;">
                Добавить
               </a>
               <a class="btn btn-primary col-xs-4" id="save_update_user" onclick="return false;" style="display: none;">
                Сохранить
               </a>
               <input class="btn btn-info col-xs-4" type="reset" id="clear_form_user" onclick="clearUserForm(); return false;" value="Очистить">
                

              </div>
             </div>
            </form>
        </div>
            <div class="row">
                <div class="col-lg-12">
                    
                    <h1>Список пользователей</h1>
                    <table class="table table-striped table-bordered table-hover">
                        <tbody class="main_table">
                            <th>ФИО</th>
                            <th>Заметка</th>
                            <th>Номер телефона</th>
                            <th>Никнейм</th>
                            <th>Группа</th>
                            <th>Редкатировать/Удалить</th>
                          </tr>
                          {% for row in table %}
                            <tr>
                                <td>{{row.first_name}}</td>
                                <td>{{row.notes}}</td>
                                <td>{{row.phone_number}}</td>
                                <td>{{row.nickname}}</td>
                                <td>{{row.group}}</td>
                                <td>
                                  <a onClick="deleteUser(this); return false;" id="del" row={{row._id|json_encode}} class="btn btn-danger">удалить</a>
                                  <a onClick="updateForm(this, '{{row.first_name}}','{{row.notes}}','{{row.phone_number}}','{{row.nickname}}','{{row.group}}','{{row.password}}'); return false;" id="update" row={{row._id|json_encode}}  class="btn btn-warning">редактировать</a>
                                </td>
                            </tr>
                          {% endfor %}
                    </tbody></table>
                </div>
            </div>
        </div>
    </section>

    
    

    
    

    
    

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery.maskedinput.js"></script>
    <script>
// ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   
      $('#phone_number').mask("+7(999)999-99-99");
      $('#password').mask("******");
      $('#update_phone').on("click", function(){
        if($('#update_phone').attr("status") == "checked"){
          $('#update_phone').attr("status", "false");
        }else{
          $('#update_phone').attr("status", "checked");
        }
      });
// ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   
     
        function empty(el){
          if(el == null || el == "" || el == " "){
            return true;
          }else{
            return false;
          }
        }
         function deleteUser(el){
          getUrlMethod(
            '{{ PUBLIC.URL }}',
            '{{ PUBLIC.user_events.remove }}',
            '{{ api_key }}',
            [
              {
                key: "id", 
                value: $(el).attr("row").replace(/\"/g,"")
              }
            ],
            function(err, res){
              if(err){
                alert(err)
              }else{
                if(confirm("Вы уверены что хотите удалить запись?")){
                  $.ajax(res).done(function(data){
                    console.log(data + ", url: " + res);
                    updateTable();
                  });
                }
              }
            }
          );
      }
      
      function updateTable(){
        getUrlMethod(
          '{{ PUBLIC.URL }}',
          '{{ PUBLIC.admin.user }}',
          '{{ api_key }}',
          [{}],
          function(err, res){
            if(err){
              alert(err)
            }else{
              $.ajax(res).done(function(data){
                $("table").html( $("table", data).html());
              });
            }
          }
        );
      }


      function clearUserForm(){
            $("#save_update_user").css("display", "none");
            $("#add_user").css("display", "block");
            $("#first_name").val(" ");
            $("#phone_number").val(" ");
            $("#nickname").val(" ");
            $("#password").val(" ");
            $("#group").val(" ");
            $("#notes").val(" ");
            $("#_id").val(" ");
            $("#user_title").html("Новый пользователь");
      }
      function updateForm(el, first_name, notes, phone_number, nickname, group, password){
          if($(el).attr("row") == ""){
            alert("ID задачи не задан.");
          }else{
            $("#first_name").val(first_name);
            $("#notes").val(notes);
            $("#phone_number").val(phone_number);
            $("#nickname").val(nickname);
            $("#group").val(group);
            $("#password").val(password);
            $("#user_title").html("Пользователь: " + $(el).attr("row").replace(/\"/g, ""));
            $("#_id").val($(el).attr("row").replace(/\"/g, ""));
            $("#save_update_user").css("display", "block");
            $("#add_user").css("display", "none");
          }
      }
      var getUrlMethod = function(mainUrl, method, key, params, callback){//params = [{key: '', value=''},...]
        if(!Array.isArray(params)){
          callback("Ошибка", null);
        }else{
          var url = mainUrl + method + "/?access_token=" + key;
          params.forEach(function(item, i){
            if(params.length - 1 == i){
              url += "&" + item.key + "=" + item.value;
              return callback(null, url);
            }else{
              url += "&" + item.key + "=" + item.value;
            }
          });
        }
      };
// ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   

        $("#add_user").on("click", function(){
            if(!empty($("#first_name").val().replace(/[\ \+\(\)\-]/g, ""))  
                && !empty($("#phone_number").val().replace(/[\ \+\(\)\-]/g, ""))
                && !empty($("#password").val().replace(/[\ \+\(\)\-]/g, ""))
            ){
                getUrlMethod(
                  '{{ PUBLIC.URL }}',
                  '{{ PUBLIC.user_events.add }}',
                  '{{ api_key }}',
                  [
                    {key: "first_name", value: $("#first_name").val()},
                    {key: "phone_number", value: $("#phone_number").val().replace(/[\ \+\(\)\-]/g, "")},
                    {key: "password", value: $("#password").val().replace(/[\ \+\(\)\-]/g, "")},
                    {key: "group", value: $("#group").val()},
                    {key: "notes", value: $("#notes").val() != "" ? $("#notes").val() : ""},
                    {key: "nickname", value: $("#nickname").val() != "" ? $("#nickname").val() : ""},
                  ],
                  function(err, res){
                    if(err){
                      alert(err)
                    }else{
                      $.ajax(res).done(function(data){
                        if(typeof data == "object" && data.error != null){
                          alert("Не удалось добавить пользователя. Возможно он уже существует в базе.");
                        }else{
                          clearUserForm();
                          updateTable();
                        }
                        
                      });
                    }
                  }
                );                
            }else{
                alert("Заполните все поля.");
            }
        });
        $("#save_update_user").on("click", function(){
          if(   
                   $("#first_name").val() == "" 
                || $("#phone_number").val().replace(/[\ \+\(\)\-]/g, "") == ""
                || $("#password").val().replace(/[\ \+\(\)\-]/g, "") == ""
                || $("#_id").val() == ""
            ){
                alert("Заполните все поля.");
            }else{
              getUrlMethod(
                  '{{ PUBLIC.URL }}',
                  '{{ PUBLIC.user_events.update }}',
                  '{{ api_key }}',
                  [
                    {key: "id", value: $("#_id").val()},
                    {key: "first_name", value: $("#first_name").val()},
                    {key: "phone_number", value: $("#update_phone").attr("status") == "checked" ? $("#phone_number").val().replace(/[\ \+\(\)\-]/g, "") : ""},
                    {key: "password", value: $("#password").val().replace(/[\ \+\(\)\-]/g, "")},
                    {key: "group", value: $("#group").val()},
                    {key: "notes", value: $("#notes").val().replace(/[\ \+\(\)\-]/g, "") != "" ? $("#notes").val() : ""},
                    {key: "nickname", value: $("#nickname").val().replace(/[\ \+\(\)\-]/g, "") != "" ? $("#nickname").val().replace(/[\ \+\(\)\-]/g, "") : ""},
                  ],
                  function(err, res){
                    if(err){
                      alert(err)
                    }else{
                      //prompt('URL:', res);
                      $.ajax(res).done(function(data){
                        if(typeof data == "object"){
                          if(data.error == null || data.error == undefined || data.error == ''){
                            clearUserForm();
                            updateTable();
                          }else{
                            alert("Произошла ошибка: " + data.error);
                          }
                        }else{
                          alert("Произошла ошибка");
                        }
                      });
                    }
                  }
                );
                
            }
        });

     


// ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   ***   
    </script>




</body></html>